* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

.container {
    width: 80%;
    margin: 60px auto;
}

.title {
    color: #29b1dd;
    font-size: 40px;
}

.top-bar {
    background-color: #29b1dd;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.icon {
    text-transform: uppercase;
    font-size: 14px;
}

.black {
    color: black;
}

.user {
    color: #800080;
}

.animal {
    color: #0000ff;
}

.vegetable {
    color: #ffa500;
}

.color {
    height: 640px;
    background-color: #ddd;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.hide {
    width: 18%;
    height: 90px;
    text-align: center;
    margin: 20px 0;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #666;
}

.padding{
    padding: 10px;
}

.content .fas {
    font-size: 32px;
    margin-bottom: 5px;
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
